.controlsField {
    background-color: #eee;
    position: relative;
    display: block;
    align-items: center;
    justify-content: center;
    top: 5vh;
    left: 10vw;
    display: flex;
    width: 80vw;
    height: 30vh;

}