$color-background: #bdfff0;
$color-text: green;
$color-theme: #2cbce1;
$color-theme-inverted: #000;

$font-family: "Inter", sans-serif;

$size-radius-small: 8px;
$size-radius-large: 100%;
$size-vw: 1.6vw;
$size-wrapper-margin: 16px;
