.sidebar {
    background-color: #eee;
    padding: 1vh;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__previewNext {
        margin: 1vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__score {
        font-size: 18px;
    }
}
.nextBlock{
    position: absolute;
    border: 1px solid black;
}
