.controlButton {
    color: black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 16px;
    color: black;
    text-align: center;
  }
