@import "./styles/index";
@import "the-new-css-reset";

html {
  font-size: 62.5%;
}
body {
  background-color: white;
  color: $color-text;
  font-size: $size-vw;
  font-family: $font-family;
}
.playingField {
  position: relative;
  display: flex;
  background-color: grey;
}
.playingField:focus {
  background-color: black;
}
