@import "./styles/index";
@import "the-new-css-reset";

html {
  font-size: 62.5%;
}
body {
  display: flex;
  justify-content: center;
  background-color: white;
  color: $color-text;
  font-size: $size-vw;
  font-family: $font-family;
}
.App {
  display: flex;
  justify-content: center;
  background-color: grey;
  width: 100vw;
  height: 100vh;
}
.App:focus {
  background-color: black;
}
